@font-face{
    font-family: friz-quadrata;
    src:url(fonts/friz-quadrata-regular-os-5870333951e7c.ttf)
}

@font-face {
    font-family: friz-quadrata-bold;
    src: url(fonts/friz-quadrata-bold-italic-os-5870341205e0f.ttf);
}

@media screen and (max-width: 1370px) {
    /* Adjust styles for smaller screens */
    .grid-container-whole-page {
        min-width: 1370px;
        min-height: 750px;
    }
}

body{
    overflow: hidden;
}

.grid-container-whole-page{
    display: grid;
    grid-template-columns: 69% 30%;
    grid-template-rows: auto;
    grid-gap: 0.5vw;
}

.container{
    display: flex;
    flex-direction: row;
}
