.grid-container-whole-page{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

.container{
    display: flex;
    flex-direction: row;
}

.quest-details{
    border-style:solid;
    height:90vh;
    align-self:
}

.quest-list{
    border-style:solid;
    height:90vh;
}